<div class="container">
<h1>My ToDos</h1>
<br>
<h3>Completed ToDos</h3>
<% @todos.each do |todo| %>
<p><%= "#{todo.description} /  #{todo.completed}" %></p>
<div class="card-columns">
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-text"><%= todo.description %></h5>
      <p class="card-text"><%= todo.completed %></p>
    </div>
  </div>
</div>

<p><%= link_to 'Show', todo, class:'btn btn-sm' %>
<%= link_to 'Edit ToDo', edit_todo_path(todo), class:'btn btn-sm' %>
<%= link_to 'Delete ToDo', todo, method: :delete, data: { confirm: 'Are you sure about this?'}, class: 'btn btn-sm' %>
<%= button_to 'Complete', complete_path(todo), method: :patch, class:'btn-warning btn-sm' %></p>
<% end %>

<h3>Incompleted ToDos</h3>
<% @todos.each do |todo| %>
<p><%= "#{todo.description} /  #{todo.completed}" %></p>
<div class="card-columns">
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-text"><%= todo.description %></h5>
      <p class="card-text"><%= todo.completed %></p>
    </div>
  </div>
</div>

<p><%= link_to 'Show', todo, class:'btn btn-sm' %>
<%= link_to 'Edit ToDo', edit_todo_path(todo), class:'btn btn-sm' %>
<%= link_to 'Delete ToDo', todo, method: :delete, data: { confirm: 'Are you sure about this?'}, class: 'btn btn-sm' %>
<%= button_to 'Incomplete', complete_path(todo), method: :patch, class:'btn-danger btn-sm' %></p>

<br>
<%= link_to 'Create ToDo', todos_new_path, class:'btn btn-sm' %>

<% end %>
</div>
